<nav
  class="navbar navbar-light">
  <div
    class="container">
    <a
      [routerLink]="['/']"
      class="navbar-brand">
      NgRx User
    </a>
    <ul
      class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a
          [routerLink]="['/']"
          class="nav-link">
          Home
        </a>
      </li>
      <ng-container
        *ngIf="signedIn$ | async">
        <li class="nav-item">
          <a
            [routerLink]="['/article/new']"
            class="nav-link">
            <i class="ion-compose"></i>
            &nbsp; New article
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/setting']"
            class="nav-link">
            <i class="ion-gear-a"></i>
            &nbsp; Setting
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/profile', (user$ | async).username]"
            class="nav-link">
            <img
              class="user-pic"
              [src]="(user$ | async).image"
            >
            &nbsp; {{ (user$ | async).username }}
          </a>
        </li>
      </ng-container>
      <ng-container
        *ngIf="signedOut$ | async">
        <li class="nav-item">
          <a
            [routerLink]="['/sign-in']"
            class="nav-link">
            Sign in
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/sign-up']"
            class="nav-link">
            Sign up
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
