<div
  *ngIf="loading$ | async">
  Loading...
</div>
<div
  *ngIf="error$ | async">
  Some error happened...
</div>
<div *ngIf="articles$ | async">
  <div
    class="article-preview"
    *ngFor="let article of (articles$ | async)?.articles">
    <div class="article-meta">
      <a
        [routerLink]="['/profile', article.author.authorname]">
        <img [src]="article.author.image" />
      </a>
      <div class="info">
        <a
          class="author"
          [routerLink]="['/profile', article.author.authorname]">
          {{ article.author.authorname }}
        </a>
        <span
          class="date">
          {{ article.createdAt | date }}
        </span>
      </div>
      <div class="pull-xs-right">
        ADD TO FAVORITES
      </div>
    </div>
    <a
      class="preview-link"
      [routerLink]="['/articles', article.slug]">
      <h1>
        {{ article.title }}
      </h1>
      <p>
        {{ article.description }}
      </p>
      <span>
        Read more...
      </span>
      HERE LIST OF TAGS
    </a>
  </div>
  PAGINATION
</div>
